<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Sentiment Analysis</title>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main/app.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main/app-dark.css')}}" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/images/logo/favicon.svg')}}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/images/logo/favicon.png')}}"
      type="image/png"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='assets/extensions/choices.js/public/assets/styles/choices.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/shared/iconly.css')}}" />
    <script src="{{url_for('static', filename='assets/extensions/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='assets/extensions/choices.js/public/assets/scripts/choices.js')}}"></script>
</head>