<section class="section">
    <div class="row" id="table-hover-row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List analyzed tweets</h4>
          </div>
          <div class="card-content">
            <!-- table hover -->
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    {% for col in col_name %}
                    <th>{{col}}</th>
                    {% endfor %}
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in row_data %}
                  <tr>
                    {% for col, row_ in zip(col_name, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                    <td>
                      <a href="{{url_for('insight', id=row[-3].split('/')[-1])}}" class="btn btn-light">See Insight</a>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>